.dashboard-container {
  display: flex;
}

.dashboard-content {
  padding: 20px;
  width: 100%;
}

.stats-row .stats-card {
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.company-card {
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* .company-stats div {
    text-align: center;
    padding: 10px 0;
  } */

/* Responsive adjustments */
@media (max-width: 768px) {
  .dashboard-content {
    padding: 10px;
  }
}

.stats-card {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #fff;
}

.stats-card:hover {
  background-color: #2e2e32;
  color: #fff;
}

.company-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.company-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Ensures all company images have the same fixed dimensions */
.company-logo {
  width: 100%;
  height: 150px;
  object-fit: cover;
  padding: 20px;
}
