body {
  background-color: #e9e9e9;
}
.main-header-box {
  padding: 90px 14px 100px 306px;
}
.pages-box {
  background-color: white;
  border-radius: 22px;
  padding: 25px;
}

button[type="submit"].btn-primary {
  background-color: #8d28dd !important;
  border-color: #8d28dd !important;
}

button[type="submit"].btn-primary:hover {
  background-color: darkviolet !important;
  border-color: darkviolet !important;
}

::-webkit-scrollbar {
  width: 7px; 
}

::-webkit-scrollbar-track {
  /* background: #e9ecef;  */
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
  background-color: #6c757d; 
  border-radius: 10px; 
  /* border: 2px solid #e9ecef;  */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #495057; 
}