.bg-purple {
  background-color: #2e2e32;
}

.text-white {
  color: #fff;
}

.required-label::before {
  content: "*";
  color: red;
  margin-right: 4px;
}

.form-select {
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}


